@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Black.woff') format('woff');
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Black.woff') format('woff');
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'RedHat';
	src: url('../fonts/RedHatDisplay-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
