
.container {
	max-width: 1149px;
	padding: 0 15px;
	margin: 0 auto;
}

.content-container{
	max-width: 754px;
}

.btn {
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
	transition: translate .5s;
}

.btn:hover{
	transform: translateY(-2px);
	transition: .5s;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
