.news{
    display: block;
    font-family: 'Inter',sans-serif;
    background-color: #F6F6F6;
    padding-bottom: 30px;
    margin-top: 95px;
}

.news__title{
    font-size: 26px;
    font-weight: 900;
    line-height: 34px;
    padding-top: 31px;
    color: #0A063B;
}

.news__content{
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.news__img{
    float: right;
    padding: 0 0 26px 26px;
    height: 100%;
    max-width: 340px;
}