.post{
    display: block;
    min-height: 340px;
}

.post__content-container{
    position: relative;
}

.post__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: -130px;
    background-color: var(--white-color);
    padding: 31px 64px;

}

.post__item{
    margin-bottom: 20px;
    border-radius: 6px;
    max-width: 297px;
    font-family: 'Inter' ,sans-serif;
    color: var(--black-color);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.3);
}
.post__item:not(:last-child){
    margin-right: 16px;
}


.post__img{
    max-width: 305px;
}
.post__img img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.post__content {
    padding: 0 15px;
}

.post__title{
    padding-top: 24px;
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    min-height: 77px;
}

.post__subtitle{
    padding-top: 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    min-height: 40px;
}

.post__text{
    padding-top: 20px;
    color: var(--dovegray-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    min-height: 100px;
}
.post__text::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #D7D7D7;
    top: 10px;
    left: 0;
}

.post__bottom{
    padding: 10px 15px 25px;
    min-height: 68px;
}

.post__btn{
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;    
    color: var(--white-color);
    background-color: var(--deepcove-color);
    padding: 9px 29px;
    border-radius: 20px;
}